<!DOCTYPE html>
<html>
    <head>
        <title>SASS TED TALK</title>
        <link rel="stylesheet" href="../static/sass.css">
    </head>
    <body>
        <div id="header">
            <img src="../static/sass-logo.png" alt="Sass logo">
        </div>
        <div>
            <h1> SASS MASTER! </h1>
        <h2> Yuki and Ayman </h2>
        <nav>
            <a href="Installation/">Installation</a>
            <a href="What's the point?/">What's the point?</a>
            <a href="Our fav components/">Our fav components</a>
        </nav>
        <p>TODAY! We'll be discussing <b>SASS</b>y power!</p>
        <div style="font-weight:bold; font-size:larger">
            <b>S</b>yntactically<br>
            <b>A</b>wesome<br>
            <b>S</b>tyle<br>
            <b>S</b>heets<br>
        </div>
        <p>
        </div>
        
            Sass has features that don't exist in CSS yet like nesting, mixins, inheritance, and other nifty goodies that help you write robust, maintainable CSS.
        </p>
        <p>
            Sass has two syntaxes! The SCSS syntax (.scss) is used most commonly. It's a superset of CSS, which means all valid CSS is also valid SCSS. The indented syntax (.sass) is more unusual: it uses indentation rather than curly braces to nest statements, and newlines instead of semicolons to separate them. All our examples are available in both syntaxes.
        </p>
        <p>
            Sass uses the $ symbol to make something a variable. (key feature)
        </p>
        <p>
            Sass will let you nest your CSS selectors in a way that follows the same visual hierarchy of your HTML. Be aware that overly nested rules will result in overqualified CSS that could prove hard to maintain and is generally considered bad practice.
	        For ex: If you have multiple buttons, you can combine all of them under one class in sass and have sub classes for each type button
            Either use indent or &
        </p>
        <p>
            MIXINS: do you have css classes with similar styles? Well you can create one “mixin” class with @mixin and include  which can then be used in tandem with the new classes you create
            @mixin can take variables
        </p>
        <p>
            FUNCTIONS: ifelse statements can be used with mixins
            A partial is a Sass file named with a leading underscore. You might name it something like _partial.scss. The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file. Sass partials are used with the @use rule.	
        </p>
        <p>
            SASS CANNOT be read/understood by browsers
            To make this work, you must compile sass into css by using this command: 
            sass --watch input.scss output.css
        </p>
    </body>
</html>