<!DOCTYPE html>
<html>
    <head>
        <title>SASS DEMO</title>
        <link rel="stylesheet" href="sass.css">
    </head>
    <body>
        <h1> SASS MASTER!</h1>
        <nav>
            <a href="one/">One</a>
            <a href="two/">Two</a>
            <a href="three/">Three</a>
        </nav>
        <p>TODAY! We'll be discussing sassy power!</p>
        <h2>NESTING!</h2>
        <p>With Sass, you can nest multiple classes of your CSS file all under one parent class (similar to java)</p>
        <button type="mother">MOTHER</button>
        <button type="son">SON</button>
    </body>
</html>